.about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.profile-pic {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.about-me-text {
  max-width: 40%;
}

.about-me-text h1 {
  margin-bottom: 2rem;
}
