.projects-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.project-card:hover {
  cursor: pointer;

  -webkit-box-shadow: 0 0 10px 4px #bdbdbd;
  -moz-box-shadow: 0 0 10px 4px #bdbdbd;
  box-shadow: 0 0 10px 4px #bdbdbd;

  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.project-card a {
  text-decoration: none;
  color: #007bff;
}

.project-card a:hover {
  text-decoration: underline;
}