.App {
  font-family: Arial, sans-serif;
  background-color: #EEEE;
}


.title {
  display: flex;
  justify-content: left;
  margin: 1rem;
  color: #DC5F00;
  position: relative;
  width: fit-content;
}

.containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 50rem;
}

.card {
  background-color: #373A40;
  color: #EEEEEE;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  width: 12.5rem;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.line {
  position: absolute;
  left: 0.5rem;
  top: 2.1rem;
  content: "";
  display: block;
  width: 0;
  height: 1rem;
  transform: skew(-15deg);
  background: rgba(104, 109, 118,0.7);
  background-size: 5rem 1rem;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  z-index: 0;
}
.subtitle {
  z-index: 2;
}

.container:hover .line {
  width: 100%;
}